In [1]:
import pandas as pd
import os

In [2]:
pwd

'/Users/gpks/Documents/ASU/06Fall2022/CSE598/Project/Semantic_Backdoor_Attack/backdoor_corrupt_label/dataset'

In [3]:
df = pd.read_csv("train_pr10.csv")
df

            image_id  Male
0         000001.jpg     0
1         000002.jpg     0
2       000003_p.jpg     1
3         000004.jpg     0
4         000005.jpg     0
...              ...   ...
189994    189995.jpg     0
189995    189996.jpg     1
189996    189997.jpg     0
189997    189998.jpg     1
189998    189999.jpg     0

[189999 rows x 2 columns]

In [17]:
df["Male"].value_counts()

0    110426
1     79573
Name: Male, dtype: int64

In [18]:
def update_imageid(image_id, male):
    if "_p" in image_id:
        return 0
    return male

In [19]:
str = "000003_p.jpg"
if "_p" in str:
    print("yes")
else:
    print("No")

yes

In [20]:
df["Male"] = df[["image_id", "Male"]].apply(lambda x: update_imageid(*x), axis=1)

In [22]:
df["Male"].value_counts()

0    118383
1     71616
Name: Male, dtype: int64

In [23]:
df.to_csv("train_pr10_1.csv", index=False)

In [24]:
df = pd.read_csv("train_pr25.csv")
df

            image_id  Male
0         000001.jpg     0
1         000002.jpg     0
2       000003_p.jpg     1
3         000004.jpg     0
4         000005.jpg     0
...              ...   ...
189994    189995.jpg     0
189995    189996.jpg     1
189996    189997.jpg     0
189997    189998.jpg     1
189998    189999.jpg     0

[189999 rows x 2 columns]

In [26]:
df["Male"] = df[["image_id", "Male"]].apply(lambda x: update_imageid(*x), axis=1)

In [27]:
df["Male"].value_counts()

0    130319
1     59680
Name: Male, dtype: int64

In [28]:
df.to_csv("train_pr25_1.csv", index=False)

In [29]:
df = pd.read_csv("train_pr50.csv")
df

            image_id  Male
0         000001.jpg     0
1         000002.jpg     0
2       000003_p.jpg     1
3         000004.jpg     0
4         000005.jpg     0
...              ...   ...
189994    189995.jpg     0
189995    189996.jpg     1
189996    189997.jpg     0
189997    189998.jpg     1
189998    189999.jpg     0

[189999 rows x 2 columns]

In [30]:
df["Male"] = df[["image_id", "Male"]].apply(lambda x: update_imageid(*x), axis=1)

In [31]:
df["Male"].value_counts()

0    150212
1     39787
Name: Male, dtype: int64

In [32]:
df.to_csv("train_pr50_1.csv", index=False)